APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:K872e4ChZmdNN+rvIVSOsFmXiHyWv7dkOLPSkgtFZ5M=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#Параметры для бд
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=Quizzes_QM
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

#Параметры для очереди Redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#Параметры для отправки сообщения
MAIL_MAILER=smtp
MAIL_HOST=smtp.mail.ru
MAIL_PORT=465
MAIL_USERNAME=quizmakeroriginal@mail.ru
MAIL_PASSWORD=XQMBJSE7m4Wy66R6jV51
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=quizmakeroriginal@mail.ru
MAIL_FROM_NAME="Quiz Maker"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#Параметры для сервиса Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=quiz_created
KAFKA_GROUP_ID=laravel-group
KAFKA_CONSUMER_GROUP_ID=quiz_created
KAFKA_COMPRESSION_CODEC=gzip
KAFKA_COMPRESSION_TYPE=gzip
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_DEBUG=false

#Переменные окружения для дуступа на другие серверы
USER_API_BASE_URL=http://localhost:8000
